body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
}

code {
  font-family: 'Rubik', sans-serif;
}

.btn-next {
  padding: 15px;
  border-radius: 20px;
  border-style: none;
  background-color: #2e86de;
  color: #fffa65;
  font-weight: 500;
}

.btn-data {
  padding: 10px;
  border-style: none;
  border-radius: 10px;
  background-color: #ff3838;
  color: #fffa65;
}

.card {
  background-color: #fffa65;
}